<div class="container">

  <ngb-accordion *ngIf="process.discontinued == false" #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel>
      <ng-template ngbPanelTitle>
        <span id="currentprocess-style">  <b>{{process.title}}</b></span>
        <div class="modify-buttons">

        </div>

      </ng-template>
      <ng-template ngbPanelContent>
        <div class="centering">
          <h4 class="text-center pt-3">
        Number of Stages: {{numStages}}<br>
          </h4>
        </div>
        <div id="error-message">{{errorMessage}}</div>
        <div class="centering">
        <button class="btn btn-light" (click)="onRespond()">Respond</button>
        </div>


      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
