<div class="card shadow">
  <div class="card-body">
    <div class="container">


      <ng-container *ngIf="responseComplete">
        <div class="centering">
          <h3>Your answers have been submitted</h3>
        </div>
        <div class="centering">
        Thank you for your response!
          </div>
      </ng-container>

      <ng-container *ngIf="selectedProcess && !responseComplete">
        <div class="centering">
        <div id="title-style">
        {{selectedProcess.title}}
        </div>
        </div>
        <div class="centering">
          <h4 class="text-center pt-3">
            {{curStageNum}} / {{totalStageNum}}
          </h4>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width:{{percentDone | number: '1.0-0'}}%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percentDone}}%</div>
        </div>



        <div class="centering">__________________________________</div>
<!--        <div-->
<!--          *ngFor="let stage of selectedProcess.stage">-->

          <div class="centering">
            <h4 class="text-center pt-3">{{curQuestion}}
            </h4>
          </div>
        Stage Order:     {{curStageOrder}}<br>
<br>
          <ng-container *ngIf="curType == 'Textbox'">
            <div class="form-group row">

                <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control" [(ngModel)]="option"></textarea>
            </div>
          </ng-container>

<!--        ngfor stage-options-->

<!--        <app-stage-options *ngFor="let choice of curStageOption"-->
<!--                           [choice] = choice></app-stage-options>-->
<!--        .....-->
<!--          &lt;!&ndash;          if selected multi single show this&ndash;&gt;-->
          <ng-container *ngIf="curType == 'Multiple Choice: Single'">
            <div class="form-group row">
            <div *ngFor="let options of curStageOptions" class="col-8">



              <div class="custom-control custom-radio custom-control-inline">
                <input name="radio" id="radio_0" type="radio" class="custom-control-input" value="{{options.option}}" [(ngModel)]="options.option === option">
                <label for="{{options.option}}" class="custom-control-label">{{options.option}}</label>
              </div>
            </div>
            </div>
          </ng-container>

          <!--          if selected boolean show this-->
          <ng-container *ngIf="curType == 'Boolean'">
            <div class="form-group row">
                <div class="custom-control custom-radio custom-control-inline">
                  <input name="radio" id="radio_false" type="radio" class="custom-control-input" value="false" [(ngModel)]="'false' === option">
                  <label for="radio_false" class="custom-control-label">False</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input name="radio" id="radio_true" type="radio" class="custom-control-input" value="true"  [(ngModel)]="'true' === option">
                  <label for="radio_true" class="custom-control-label">True</label>
              </div>
            </div>
          </ng-container>

          <!--          if selected multi multiple show this-->
          <ng-container *ngIf="curType == 'Multiple Choice: Multiple'">
            <div class="form-group row">
              <div *ngFor="let options of curStageOptions" class="col-8">
                <div class="custom-control custom-checkbox custom-control-inline">
                  <!--                checked="checked" for pre-checked-->
                  <input name="checkbox" id="checkbox_0" type="checkbox" class="custom-control-input" value="{{options.option}}" [(ngModel)]="options.option === option">
                  <label for="checkbox_0" class="custom-control-label">{{options.option}}</label>
                </div>
              </div>
            </div>
          </ng-container>


<div class="centering">__________________________________</div>
<!--        </div>-->

      </ng-container>
      <div class="container">{{errorMessage}}</div>
      <div class="centering" *ngIf="!responseComplete">
        <button class="btn btn-light" *ngIf="notLast" (click)=next()>Next</button>
        <button class="btn btn-light" *ngIf="!notLast" (click)=submit()>Submit</button>
      </div>

    </div>

  </div>
</div>


