/* You can add global styles to this file, and also import other style files */
body {
  background-color: grey;
  background-image: url("https://storage.needpix.com/rsynced_images/old-paper-texture-background.jpg");
  opacity: 0.75;
}

.container{
  padding-top: 2rem;
}
.centering{
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  font-family: Georgia;
  font-size: large;
  color: darkslategrey;
  font-variant: small-caps;
}

.close-button, .modify-buttons{
  display: flex;
  justify-content: flex-end;
}


.modify-buttons{
  justify-self: flex-end;
  padding: 1rem;
}

.font-green{
  font-family: Georgia;
  font-size: large;
  color: darkslategrey;
  font-variant: small-caps;
}

#title-style, #currentprocess-style{
  font-family: Georgia;
  font-size: xx-large;
  color: darkslategrey;
  font-variant: small-caps;
  vertical-align: center;
}

#discontinued-style{
  font-family: Georgia;
  font-size: xx-large;
  color: darkgrey;
  font-variant: small-caps;
  vertical-align: center;
}

